.immmg {
    position: absolute;
    width: 98%;
    padding-left: 38px;
    height: 420px;
    border: solid;
    border-radius: 68%;
    padding-right: 40px;
    margin-top: 59px;
    padding-top: 15px;
    border-width: 0px;
}