.centered {
    font-family: "Nunito Sans";
    font-weight: 100;
    letter-spacing: .2em;
    line-height: 1em;
    color: white;
    font-size: 50px;
  }

  .center{
    color: white;
    font-family: "Nunito Sans";
    font-size: 23px;
    text-align: center;
    line-height: 4.5rem;
    background: rgb(0, 0, 0,0.5)
  }