

<!-- <div style="    margin-top: -75px;
opacity: 0.9;width: 100%; height: 100vh; background: url(https://i.ibb.co/QJBkZxq/about-Us-hero.png) top center/cover no-repeat" > -->

<div>
    <img style="width: 100%;opacity: 0.85;height: 70vh;" src="https://i.ibb.co/GTf2HPm/About-Us-Leadership-0.png" alt="About-Us-Leadership-0" >
  <div style="text-align: center; position: absolute; top: 90%;width:99.9vw" class="row ">
      <div class="col-md-12 centered">ABOUT US</div>
      <div class=" col-md-12 center"> 
        <p style="    width: 50%;
        margin: auto;">KIMRO group of companies has come a long way since its inception in 1985 and today it is a force to reckon with. Charting a steady growth graph we have we are now spread across verticals like Real Estate, Construction, Agriculture, Mining, Export, Automobile parts, Fruit processing and packaged food products.
          </p>
        </div>
    </div>
</div>

<div class="row" style="width: 100%">
  <div class="col-md-6" style="padding-top: 120px;text-align: center">
    <span class="story">OUR STORY</span>
  </div>

  <div class="col-md-6">
    <div class="row" style="padding-top: 120px; padding-right: 85px;">
      <div class="col-md-12">
        <p class="ffont" style="padding-bottom: 70px;">KIMRO group plans to utilize the vast natural resources of Karnataka to leverage the demand in the world market. We want to reach out to the world with the delectable delicacies of Indian cuisine. The project integrates multi-level organic farming, processing of fruits and ethnic vegetables, packaging of exotic and traditional beverages and marketing it globally. These projects will ensure that no Indian ever misses the aromas and flavours of the Indian platter.</p>
      </div>

      <div class="col-md-12">
        <p class="ffont" style="padding-bottom: 120px;"> No wonder we have captured the imagination of not just Indians but foodies across the world. Our reasonable pricing and an exhaustive range of beverages to boot has made us a popular name in the global market. The extensive and widespread network of distributors and marketers form the core strength of our company. We follow the strictest procedures to ensure the highest levels of hygiene while packaging to retain the freshness of the product intact until consumption</p>
      </div>
    </div>
  </div>
</div>
<!-- 
<div>
  <p>
      Shankar group plans to utilize the vast natural resources of Karnataka to leverage the demand in the world market. We want to reach out to the world with the delectable delicacies of Indian cuisine. The project integrates multi-level organic farming, processing of fruits and ethnic vegetables, packaging of exotic and traditional beverages and marketing it globally. These projects will ensure that no Indian ever misses the aromas and flavours of the Indian platter.

      No wonder we have captured the imagination of not just Indians but foodies across the world. Our reasonable pricing and an exhaustive range of beverages to boot has made us a popular name in the global market. The extensive and widespread network of distributors and marketers form the core strength of our company. We follow the strictest procedures to ensure the highest levels of hygiene while packaging to retain the freshness of the product intact until consumption
  </p>
</div>
 -->

