

<!-- <div style="    margin-top: -75px;
opacity: 0.9;width: 100%; height: 100vh; background: url(https://i.ibb.co/QJBkZxq/about-Us-hero.png) top center/cover no-repeat" > -->

<div>
    <img style="width: 100%;opacity: 0.85;height: 70vh;" src="https://i.ibb.co/GTf2HPm/About-Us-Leadership-0.png" alt="About-Us-Leadership-0" >
  <div  [ngClass]="{'row about': about==false, 'row aabot': about==true }">
      <div class="col-md-12 centered">ABOUT US</div>
      <div class=" col-md-12 center"> 
        <p style="    width: 50%;
        margin: auto;">KIMRO group of companies has come a long way since its inception in 1985 and today it is a force to reckon with. Charting a steady growth graph we have we are now spread across verticals like Real Estate, Construction, Agriculture, Mining, Export, Automobile parts, Fruit processing and packaged food products.
          </p>
        </div>
    </div>
</div>

<div class="row" style="width: 100%">
  <div class="col-md-6" style="padding-top: 120px;text-align: center">
    <span class="story">OUR STORY</span>
  </div>

  <div class="col-md-6">
    <div class="row" style="padding-top: 120px; padding-right: 85px;">
      <div class="col-md-12">
        <p class="ffont" style="padding-bottom: 70px;">KIMRO group plans to utilize the vast natural resources of Karnataka to leverage the demand in the world market. We want to reach out to the world with the delectable delicacies of Indian cuisine. The project integrates multi-level organic farming, processing of fruits and ethnic vegetables, packaging of exotic and traditional beverages and marketing it globally. These projects will ensure that no Indian ever misses the aromas and flavours of the Indian platter.</p>
      </div>

      <div class="col-md-12">
        <p class="ffont" style="padding-bottom: 120px;"> No wonder we have captured the imagination of not just Indians but foodies across the world. Our reasonable pricing and an exhaustive range of beverages to boot has made us a popular name in the global market. The extensive and widespread network of distributors and marketers form the core strength of our company. We follow the strictest procedures to ensure the highest levels of hygiene while packaging to retain the freshness of the product intact until consumption</p>
      </div>
    </div>
  </div>
</div>



<div style="background: #eff3f4">
    <img src="https://i.ibb.co/ZBf75Yg/mission-vision-values-circles-light-2.png" alt="mission-vision-values-circles-light" style="width: 100%">

    <div style="position: absolute; margin-top: -62%; width: 12%; margin-left: 77%; text-align: center; font-size: 12px; font-family: -webkit-body;">
      <span>
          To constantly aspire to develop outstanding products of unmatched quality with unparallel consistency and provide “ the taste of happiness” to our valued customers. 
      </span>
    </div>

    <div style="position: absolute; margin-top: -54%; width: 12%; margin-left: 24%; text-align: center; font-size: 12px; font-family: -webkit-body;">
        <span>
            To constantly aspire to develop outstanding products of unmatched quality with unparallel consistency and provide “ the taste of happiness” to our valued customers. 
        </span>
      </div>

      <div style="    position: absolute; margin-top: -8%; width: 30%;margin-left: 54%;text-align: center;  font-size: 14px; font-family: -webkit-body;">
          <span>
              To constantly aspire to develop outstanding products of unmatched quality with unparallel consistency and provide “ the taste of happiness” to our valued customers. 
          </span>
        </div>
</div>



<div  id="counter" style="background: #c9e3ae;">
    <div style="width: 100%" class="row stat-wrap">
        
      <div class="col-md-12"  style="padding-top: 80px;">
          <div class="row">
              <div style="text-align: center;color: #769d9e" class="col-md-6">
                  <h1 style="margin-top: 24px;font-size: 45px;font-weight: 600;"> <span class="stat-number">75042000</span></h1>
                 <h4 class="med"  style="margin-top: 25px;">Products sold</h4>
                  
               </div>
          
               <div style="text-align: center;color: #769d9e" class="col-md-6">
                  <h1 style="margin-top: 24px;font-size: 45px;font-weight: 600;"> <span class="stat-number">74</span></h1>
                  <h4 style="margin-top: 25px;padding: 3px 18px 0px 18px" >Happy Clients</h4>        
               </div>
          </div>
      </div>

       <div class="col-md-12"  style="padding-top: 80px;padding-bottom: 80px;">
         <div class="row">
            <div style="text-align: center;color: #769d9e" class="col-md-6">
                <h1 style="margin-top: 24px;font-size: 45px;font-weight: 600;"> <span class="stat-number">10</span></h1>
                <h4 style="margin-top: 25px;padding: 3px 22px 0px 22px" >Countries Served</h4>        
             </div>
      
             <div style="text-align: center;color: #769d9e" class="col-md-6">
                <h1 style="margin-top: 24px;font-size: 45px;font-weight: 600;"> <span class="stat-number">2000000</span></h1>
                <h4 style="margin-top: 25px;padding: 3px 22px 0px 22px">Customers served around the world</h4>        
             </div>
         </div>

       </div>
     
    </div>
  </div>

  
