

    <!-- <breadcrumb #parent>
  <nav class="breadcrumb">
    <a [routerLink]="['/']" class="breadcrumb-item">Home</a>
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <a *ngIf="!route.terminal" class="breadcrumb-item" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
      <a *ngIf="route.terminal" class="breadcrumb-item " [routerLink]="[route.url]">{{ route.displayName }}</a>
    </ng-template>
  </nav>
</breadcrumb> -->
   
<div style="padding-left: 35%; padding-right: 35%">
    <div *ngIf="crumb && crumb==='Type'">
        <div class="center-on-page">
        
          
            <h1 class="heading">Select The Type of Water</h1>
            <div class="main-box"><span style="font-weight: 700;font-size: 17px;">Noraml Purified Water</span>
              <div style="display: inline;padding-left: 90px;">
                  <button type="button" id="sub" class="sub" (click)='changeNWsub()'>-</button>
                  <input #nw type="number" id="box" [(ngModel)]="normalWater" min="1" max="10" />
                  <button type="button" id="add" class="add" (click)='changeNWadd()'>+</button>
              </div> 
            </div>
        
            <div class="main-box"><span style="font-weight: 700;font-size: 17px;">RO purified Water</span>
              <div style="display: inline;padding-left: 125px;">
                  <button type="button" id="sub" class="sub" (click)='changeROsub()'>-</button>
                  <input #nw type="number" id="box" [(ngModel)]="roWater" min="1" max="10" />
                  <button type="button" id="add" class="add" (click)='changeROadd()'>+</button>
              </div> 
            </div>
        
            <div class="main-box"><span style="font-weight: 700;font-size: 17px;">Double RO purified Water</span>
              <div style="display: inline;padding-left: 63px;">
                  <button type="button" id="sub" class="sub" (click)='changeDROsub()'>-</button>
                  <input #nw type="number" id="box" [(ngModel)]="droWater" min="1" max="10" />
                  <button type="button" id="add" class="add" (click)='changeDROadd()'>+</button>
              </div> 
            </div>
        
            <div class="main-box"><span style="font-weight: 700;font-size: 17px;">Thriple RO purified Water</span>
              <div style="display: inline;padding-left: 63px;">
                  <button type="button" id="sub" class="sub" (click)='changeTROsub()'>-</button>
                  <input #nw type="number" id="box" [(ngModel)]="troWater" min="1" max="10" />
                  <button type="button" id="add" class="add" (click)='changeTROadd()'>+</button>
              </div> 
            </div>  
            
            <div class="main-box" style="background: none; border: none; text-align: center;">
              <button class="nextBtn" (click)="navigate1()">></button>
            </div>
          
          </div>
        
            
          
          </div>
        
        
          <div *ngIf="crumb && crumb==='Quantity'">
            <div class="center-on-page row" >
                 <i (click)='navigate0()' class="fas fa-chevron-circle-left bkbtn"></i> 
              <div style="text-align: center" class="col-md-12">
                  <h1 style="display: inline;" class="heading">Fill Your Address</h1>
              </div>        
                    <div class="col-md-12" style="margin-top: 35px;">
                <input [(ngModel)]="street" type="street"
                       class="form-control" 
                       id="autocomplete" 
                       placeholder="Street">
                <input [(ngModel)]="city" type="city" 
                       class="form-control" 
                       id="inputCity" 
                       placeholder="City">
                
                <input [(ngModel)]="state" type="state" 
                       class="form-control" 
                       id="inputState" 
                       placeholder="State">
                
                <input [(ngModel)]="zip" type="zip" 
                       class="form-control" 
                       id="inputZip" 
                       placeholder="Zip">
                
                <input [(ngModel)]="county" type="county" 
                       class="form-control" 
                       id="inputCounty" 
                       placeholder="County">
                
                <input [(ngModel)]="country" type="country" 
                       class="form-control" 
                       id="inputCountry" 
                       placeholder="Country">
              </div>
        
              <div class="col-md-12" style="background: none; border: none; text-align: center;">
                  <button class="nextBtn" (click)="navigate2()">></button>
                </div>
            </div>    
            </div>
          
            <div *ngIf="crumb && crumb==='Adress'">
                <h1 class="heading" style="background: black;margin: 0px; position: relative;top: 15px;   padding-top: 6px; padding-bottom: 6px;color: white">Billing Details</h1>        
                <div class="row" style="background: #dadbeb9c;padding: 30px;padding-bottom: 20px;">
                  <div class="col-md-12">
                    <div class="row" style="margin-top:-25px;">
                        <div class="col-md-12">
                            <h3>Item(s) <i (click)="navigate0()" style="cursor: pointer;font-size: 15px; color: blue; padding-left: 150px;" class="far fa-edit"></i></h3> 
                              <div *ngIf="normalWater>0">
                                  <span class="col-md-9" style="padding-left: 0px"> Normal Water: </span><span class="col-md-3"> {{normalWater}} </span>
                              </div>
        
                              <div *ngIf="roWater>0">
                                <span class="col-md-9" style="padding-left: 0px"> RO Purified Water: </span><span class="col-md-3"> {{roWater}} </span>
                            </div>
        
                            <div *ngIf="droWater>0">
                              <span class="col-md-9" style="padding-left: 0px"> Double RO Purified Water: </span><span class="col-md-3"> {{droWater}} </span>
                          </div>
        
                          <div *ngIf="troWater>0">
                            <span class="col-md-9" style="padding-left: 0px">Thriple RO Purified Water: </span><span class="col-md-3"> {{troWater}} </span>
                        </div>
                          </div>
                    </div>
        
                    <div class="row" style="border-top: 1px dashed #44c62c; margin-top: 10px;">
                      <div class="col-md-12">
                          <h3 style="margin-top: 10px;">Address:<i (click)="navigate1()" style="cursor: pointer;font-size: 15px; color: blue; padding-left: 139px;" class="far fa-edit"></i></h3>
                          <div class="row">
                            <span class="col-md-12">
                                {{ street }}, {{ city }}, {{ state }}, {{ country }}, {{ zip }}
                            </span>
                          </div>
                      </div>
                    </div>
                    
                    <div class="row" style="border-top: 1px dashed #44c62c; margin-top: 10px;">
                        <div class="col-md-12">
                            <h3 style="margin-top: 10px;">Payment:</h3>
                            <div class="row">
                                <span class="col-md-12">
                                    <input type="radio" name="payment" value="cod" [(ngModel)]="payment"> COD
                                    <input type="radio" name="payment" value="c/d" [(ngModel)]="payment"> Credit/Debit card
                                    <input type="radio" name="payment" value="ob" [(ngModel)]="payment"> Online Banking  
                                </span>
                            </div>
                        </div>
                      </div>
        
                  </div>
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;padding-top: 18px;">
                        <button *ngIf="login" style="background: transparent; border: 1px solid #27279b; border-radius: 12px;" (click)="navigate3()"> Confirm </button>
        
                        <div  *ngIf="!login" ng-sidebar-content>
                            <button style="    background: #09a109bf;
                            border: none;
                            /* border-radius: 0px; */
                            padding: 3px 15px 3px 15px;
                            font-size: 18px;
                            color: white;" (click)="_toggleSidebar()">Login</button>
                          </div>
                    </div>
                  </div>
              </div>
            </div>
        
              <div *ngIf="crumb && crumb==='Price'">
                 <div class="row" style="margin-left: -115px;margin-top: 28px; padding-top: 56px;">
                  <div style="color: #44ff44; font-size: 92px;text-align: center" class="col-md-12">
                      <span>
                          <i class="far fa-check-circle"></i>
                      </span>
                  </div>
                  <div class="col-md-12" style="text-align: center; color: #44ff44; font-size: 34px;">
                   <span>Order Successfully Placed</span> 
                  </div>
                  
                 </div>
                </div>
</div>
  
        <ng-sidebar-container style="height: 0%;">
 
            <!-- A sidebar -->
            <ng-sidebar [(opened)]="_opened" [(position)]="position" >
                <div (click)="closeBD()">
                    <div (click)="stopBD($event)" class="login-page">
                        <div style="position: fixed; top: 0px; width: 207px; right: 0px;height: 100vh; background: beige;padding-top: 233px; padding-left: 13px;padding-right: 7px;" class="form">
    
                          <form class="login-form">
                            <input [(ngModel)]="username" type="text" placeholder="username" [ngModelOptions]="{standalone: true}"/>
                            <input [(ngModel)]="password" type="password" placeholder="password" [ngModelOptions]="{standalone: true}"/>
                            <button (click)="loginn()">login</button>
                            <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
                          </form>
                        </div>
                      </div>
                </div>
                <!-- <a closeSidebar>Closes the sidebar</a> -->
              </ng-sidebar>
       
            <!-- Page content -->
           
       
          </ng-sidebar-container>

          