

    <!-- <breadcrumb #parent>
  <nav class="breadcrumb">
    <a [routerLink]="['/']" class="breadcrumb-item">Home</a>
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <a *ngIf="!route.terminal" class="breadcrumb-item" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
      <a *ngIf="route.terminal" class="breadcrumb-item " [routerLink]="[route.url]">{{ route.displayName }}</a>
    </ng-template>
  </nav>
</breadcrumb> -->
   
<div *ngIf="crumb && crumb==='Type'">
<div class="center-on-page">
  
    <h1>Select the type of water</h1>
    <div> 
      Single RO

      <button type="button" id="sub" class="sub">-</button>
    <input type="number" id="1" value="1" min="1" max="3" />
    <button type="button" id="add" class="add">+</button>
    </div>
    <!-- <div class="select">
      <select name="slct" id="slct">
        <option>Choose an option</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div> -->


    
  </div>

    <button (click)="navigate1()"> Type</button>
  </div>

  <div *ngIf="crumb && crumb==='Quantity'">
      <button (click)="navigate2()"> QQQQQQQ </button>
    </div>
  
    <div *ngIf="crumb && crumb==='Adress'">
        <textarea> </textarea>
        <button (click)="navigate3()"> Q </button>
      </div>

      <div *ngIf="crumb && crumb==='Price'">
          Total Price: 100000000000000
        </div>
  