<div class="row" style="width: 100%;background-color: #f4f5f7 !important;margin: 0px;padding: 90px 30px 65px 0px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12" style="font-size: 33px;padding: 40px 120px;text-align: center;font-weight: 600;">
        <p>The choice is yours with a wide selection of refreshing bottled water options</p>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12" style="font-size: 20px; margin-bottom: 25px; padding: 0px 95px;
          line-height: 1.45em; color: rgba(50, 50, 93, 0.9); margin-top: -12px; text-align: center;">
            <p>Our goal at American Water, Sri Lanka’s pioneer bottled water manufacturer, is to meet your hydration requirements. Such aim is fulfilled with our range of bottled water which comes in many convenient pack-sizes suited for every occasion.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">

  </div>
</div>

<div style="margin-top: 8%;margin-bottom: 13%;height: 43vh;">
  <app-order-water></app-order-water>
  </div>


  <div class="container" style="margin: 0px;width: 100%;padding: 0px;background: radial-gradient(ellipse at bottom, #292D61 30%, #171941 80%);">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=2000>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div style="" class="row">
              <div style="" class="col-md-4">
                <img style="position: absolute; width: 98%;padding-left: 61px;height: 345px;border: solid; border-radius: 68%; padding-right: 56px; padding-top: 15px; border-width: 0px;" src="https://americanwater.lk/assets/img/products/01.png">
              </div>
    
              <div class="col-md-8" style="padding: 100px 150px 100px 100px; background: #1d8cf8;height: 355px;">
                <div class="row">
                  <div style="font-size: 30px; color: white; padding-bottom: 25px;" class="col-md-12">
                    <span>Our most versatile 19 & 11 Liter package</span>
                  </div>
                  
                  <div class="col-md-12" style="font-size: 19px;color: white;line-height: 2.6rem;">
                    <span>Used predominantly in offices, households, schools, factories and places frequented by many people for their hydration needs. These bottles are mounted on to a dispenser for ease of use.</span>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="item">
              <div style="" class="row">
                <div style="" class="col-md-4">
                  <img style="position: absolute; width: 98%;padding-left: 61px;height: 345px;border: solid; border-radius: 68%; padding-right: 56px; padding-top: 15px; border-width: 0px;" src="https://americanwater.lk/assets/img/products/02.png">
                </div>
      
                <div class="col-md-8" style="padding: 100px 150px 100px 100px; background: #1d8cf8;height: 355px;">
                  <div class="row">
                    <div style="font-size: 30px; color: white; padding-bottom: 25px;" class="col-md-12">
                      <span>Our 5 & 7 Liter Option</span>
                    </div>
                    
                    <div class="col-md-12" style="font-size: 19px;color: white;line-height: 2.6rem;">
                      <span>
                          Ideal for small gatherings and excursions sufficient for about 3 people at a time. It’s portable and handy enough to fit inside your car.</span>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
        
            <div class="item">
                <div style="" class="row">
                  <div style="" class="col-md-4">
                    <img style="position: absolute; width: 98%;padding-left: 61px;height: 345px;border: solid; border-radius: 68%; padding-right: 56px; padding-top: 15px; border-width: 0px;" src="https://americanwater.lk/assets/img/products/03.png">
                  </div>
        
                  <div class="col-md-8" style="padding: 100px 150px 100px 100px; background: #1d8cf8;height: 355px;">
                    <div class="row">
                      <div style="font-size: 30px; color: white; padding-bottom: 25px;" class="col-md-12">
                        <span>1 & 1.5 Liters</span>
                      </div>
                      
                      <div class="col-md-12" style="font-size: 19px;color: white;line-height: 2.6rem;">
                        <span> When there are two of you, it’s always best to go for a 1 liter or 1.5 liter bottle. They are both economical and value for money.</span>
                      </div>
                    </div>
                  </div>
        
                </div>
              </div>
    
              <div class="item">
                  <div style="" class="row">
                    <div style="" class="col-md-4">
                      <img style="position: absolute; width: 98%;padding-left: 61px;height: 345px;border: solid; border-radius: 68%; padding-right: 56px; padding-top: 15px; border-width: 0px;" src="https://americanwater.lk/assets/img/products/04.png">
                    </div>
          
                    <div class="col-md-8" style="height: 355px;padding: 100px 150px 100px 100px; background: #1d8cf8;">
                      <div class="row">
                        <div style="font-size: 30px; color: white; padding-bottom: 25px;" class="col-md-12">
                          <span>Nothing beats the convenience of single serve bottles - 330 & 500 ML
                              </span>
                        </div>
                        
                        <div class="col-md-12" style="font-size: 19px;color: white;line-height: 2.6rem;">
                          <span>The perfect individual serving, for people on the move, which fits inside your handbag or backpack.</span>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
    
                <div class="item">
                    <div style="" class="row">
                      <div style="" class="col-md-4">
                        <img style="position: absolute; width: 98%;padding-left: 61px;height: 345px;border: solid; border-radius: 68%; padding-right: 56px; padding-top: 15px; border-width: 0px;" src="https://americanwater.lk/assets/img/products/product-dispenser.png">
                      </div>
            
                      <div class="col-md-8" style="height: 355px;padding: 100px 150px 100px 100px; background: #1d8cf8;">
                        <div class="row">
                          <div style="font-size: 30px; color: white; padding-bottom: 25px;" class="col-md-12">
                            <span>Water Dispensers
                               
                                </span>
                          </div>
                          
                          <div class="col-md-12" style="font-size: 19px;color: white;line-height: 2.6rem;">
                            <span> Enjoy the convenience of cold or hot water for every occasion, whether filling your gym bottle, coffeepot, iced tea pitcher or your favorite glass for a quick and convenient drink.
                                Previous</span>
                          </div>
                        </div>
                      </div>
            
                    </div>
                  </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

