<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-sticky-contact></app-sticky-contact>
<app-footer></app-footer>


<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d09ea2353d10a56bd7acad5/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script> -->
    <!--End of Tawk.to Script-->