<div class="hidden-xs">
  <div id="HomeCarousel" class="carousel slide desktop-tab-container" data-ride="carousel" data-interval=false>
    <ol class="carousel-indicators container">
      <li data-target="#HomeCarousel" data-slide-to="0" class="active">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container" >
          <div class="text-box"><p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">Order Online</p> <span style="font-size: 16px; ">Premium Cans</span>
          </div>
        </div>
      </li>
      <li data-target="#HomeCarousel" data-slide-to="1" class="">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container">
        <div  class="text-box">
          <p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">Start Marketing</p> <span style="font-size: 16px; ">International Markets</span>
        </div>
      </div>
    </li>
      <li data-target="#HomeCarousel" data-slide-to="2" class="">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container">
        <div class="text-box">
          <p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">Know Right</p>
           <span style="font-size: 16px; ">PricePoint</span>
          </div>
        </div>
      </li>
      <li data-target="#HomeCarousel" data-slide-to="3" class="">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container">
        <div class="text-box">
          <p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">BlueMont</p>
           <span style="font-size: 16px; ">Bottled Waters</span>
          </div>
        </div></li>
    </ol>
     
    <div class="carousel-inner">
      <div class="item active">
          <img src="https://i.ibb.co/C6p7GB4/final.jpg" alt="Premium Bottles" style="width:100%; height: 50% ;height: 80vh;">
          <strong style="padding-left: 72px;" class="premium">The choice is yours</strong>
          <h1 style="padding-top: 30px;font-weight: 100;font-size: 30px;" class="premium">Wide selection of refreshing bottled water options</h1>
          <div class="premium button-1">
              <div class="eff-1"></div>
              <a routerLink="/order">Order Now</a>
            </div>          
      </div>
              
      
      <!-- https://i.ibb.co/QCcpZmB/blue-water-8-wallpaper-2048x1152-1-1290x601.jpg -->
      
      <div class="item">
          <img src="https://i.ibb.co/ChKQwLv/water.png" alt="Partner with US" style="width:100%;height: 80vh;padding: 70px 185px 70px 185px;">
          <div>
            <strong style="padding-left: 70px;
                padding-top: 9px;
            padding-right: 70px;
            background: rgba(12, 56, 76, 0.8);
            color: white;
            margin-left: 114px;" class="market">Distributor Enquiry Form</strong>
          <h1 style="padding-top: 11px;
          font-weight: 100;
          font-size: 30px;
          background: rgba(12, 56, 76, 0.8);
          color: white;
          margin-top: 51px;
          padding-right: 26px;
          padding-left: 26px;
          padding-bottom: 14px;" class="market">Be a part of India’s pioneer in bottled water industry!</h1>
          <div class="market button-1" style="margin: 134px 0 40px 245px">
              <div class="eff-2"></div>
              <a style="background: rgba(0, 0, 0, 0.65);
              color: white;
              font-weight: 900;" routerLink="/marketing">Start Marketing</a>
            </div>  
          </div>
      </div>

      <div class="item">
        <img src="https://i.ibb.co/2t7h4d6/Blue-Water-Wave-900x866.png" alt="Delivery Cans" style="width:100%; height: 50%;height: 80vh;">
        <app-order-water style="left: 15%;position: absolute;top: 20%;" ></app-order-water>
    </div>
      
      <div class="item">
          <img src="https://i.ibb.co/C6p7GB4/final.jpg" alt="New york" style="width:100%;height: 80vh;">
          <strong style="padding-left: 72px;" class="premium">Premiur Water Bottle</strong>
          <h1 style="padding-top: 23px;font-weight: 100;font-size: 30px;" class="premium">A distinctive difference you can taste</h1>
          <div class="premium button-1">
              <div class="eff-1"></div>
              <a routerLink="/bottled-water-products"> Read More </a>
            </div>
      </div>
              </div></div></div>

<app-about></app-about>

<div class="row" style="width: 100%;padding:110px 0px 190px 0px;margin: 0px">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6" style="padding-left: 14%;padding-top: 6%; font-size: 45px;font-family: Heebo,sans-serif;line-height: 7rem; font-weight: 100;letter-spacing: 0.5rem;">
          <span style="">Take your <br>business to the <br>next level</span>
        </div>
        <div style=" text-align: center;; font-size: 27px; padding-top: 9.5%;
        font-family: Heebo,sans-serif;" class="col-md-6">
          <span style="">Try it now risk free.</span><br>
          <button routerLink="/marketing" style="margin-top: 25px;padding: 8px 24px 8px 24px;font-size: 24px; font-weight: 300; color: #fff; letter-spacing: .025em; background: #0078D7;  border: none; margin-top: 10px;" class="btnh">Start Marketing</button>
        </div>
      </div>
    </div>
  </div>

<app-water-products></app-water-products>
