
<div class="hidden-xs">
  <div id="HomeCarousel" class="carousel slide desktop-tab-container" data-ride="carousel" data-interval=false>
    <ol class="carousel-indicators container">
      <li data-target="#HomeCarousel" data-slide-to="0" class="active">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container" >
          <div class="text-box"><p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">BlueMont</p> <span style="font-size: 16px; ">Bottled Waters</span>
          </div>
        </div>
      </li>
      <li data-target="#HomeCarousel" data-slide-to="1" class="">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container">
        <div  class="text-box">
          <p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">Join</p> <span style="font-size: 16px; ">GroupBuy</span>
        </div>
      </div>
    </li>
      <li data-target="#HomeCarousel" data-slide-to="2" class="">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container">
        <div class="text-box">
          <p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">Know Right</p>
           <span style="font-size: 16px; ">PricePoint</span>
          </div>
        </div>
      </li>
      <li data-target="#HomeCarousel" data-slide-to="3" class="">
        <div style="text-align: left;padding-left: 8px;" class="indicator-container">
        <div class="text-box">
          <p style="margin-bottom: 2px; font-size: 16px;font-weight: 900;">Avail Unbiased</p>
           <span style="font-size: 16px; ">Legal Services</span>
          </div>
        </div></li>
    </ol>
     
    <div class="carousel-inner">
      <div class="item active">
          <img src="https://i.ibb.co/C6p7GB4/final.jpg" alt="" style="width:100%; height: 50% ;height: 520px;">
          <strong style="padding-left: 72px;" class="premium">Premiur Water Bottle</strong>
          <h1 style="padding-top: 23px;font-weight: 100;font-size: 30px;" class="premium">A distinctive difference you can taste</h1>
          <div class="premium button-1">
              <div class="eff-1"></div>
              <a routerLink="/bottled-water-products"> Read More </a>
            </div>
      </div>
              
      <div class="item">
          <img src="https://i.ibb.co/C00cxW9/sunny.jpg" alt="Chicago" style="width:100%; height: 50%;height: 520px;">
          <app-order-water style="left: 15%;position: absolute;top: 20%;" ></app-order-water>
      </div>
      <!-- https://i.ibb.co/QCcpZmB/blue-water-8-wallpaper-2048x1152-1-1290x601.jpg -->
      
      <div class="item">
          <img src="https://i.ibb.co/ChKQwLv/water.png"  style="width:100%;height: 520px;">
      </div>
      
      <div class="item">
          <img src="https://i.ibb.co/C6p7GB4/final.jpg" alt="New york" style="width:100%;height: 520px;">
      </div>
              </div></div></div>